dist
build
__pycache__
.idea
.vscode
.vim
*.spec
log.txt
Session.vim
demo.ipynb
*.dll
test.py
*.png
*.csv
ocr_test.py
ocr_data.py
ocr_tran.py
ocr_demo.ipynb
*.ttc
*.pyd
*.c
*.pyx
test-pyd
settings.json*
icon_rc.py
mainwindow_ui.py
.icon_rc.py
*.json 
test-*
